@import '~highlight.js/styles/github.css';
/* Estilos de libreria para cambiar el estilo a las palabras dependiendo de su tipo */

:host {
  display: block;
  width: 100%;
  overflow-x: auto;
  background: var(--plz-color-white);
  border: 1px solid var(--plz-color-black-4);
  border-radius: 0 0 10px 10px;
  padding: 15px;
  box-sizing: border-box;
}

pre {
  white-space: pre; /* respeta saltos e indentación */
  overflow-x: auto; /* scroll horizontal si se desborda */
  font-family: monospace;
}

code {
  font-family: monospace;
  white-space: inherit;
}