:host {
  /* Peso fuente */
  --plz-font-weight-bold: 700;

  /* Radio borde */
  --plz-border-radius-low-rounded: 25px;
  /* Primarios-gamma-negro */
  --plz-color-black-3: #495057;
  --plz-color-black-4: #d4d4d8;

  /* Primarios-gamma-blanco */
  --plz-color-white: white;

  --bg-color-hover: var(--plz-color-black-3);
  --bg-color-text: var(--plz-color-white);

  box-sizing: border-box;
}

/* ## GENERAL ## */

.item {
  box-sizing: border-box;
  display: block;
  line-height: 24px;
  padding: 0;
  padding-left: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  width: 100%;
  cursor: pointer;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.simple:hover {
  background-color: var(--plz-color-black-4);
}

.simple-custom:hover {
  background-color: var(--bg-color-hover);
  color: var(--bg-color-text);
  font-weight: var(--plz-font-weight-bold);
  border-top-right-radius: var(--plz-border-radius-low-rounded);
  border-bottom-right-radius: var(--plz-border-radius-low-rounded);
}

.submenu {
  padding-left: 50px;
}

/* ## CUSTOM VARIANT ## */

.custom:hover {
  background-color: var(--bg-color-hover);
  color: var(--bg-color-text);
  font-weight: var(--plz-font-weight-bold);
  border-top-right-radius: var(--plz-border-radius-low-rounded);
  border-bottom-right-radius: var(--plz-border-radius-low-rounded);
}

/* ## VARIANT CUSTOM ## */

.active {
  background-color: var(--bg-color-hover);
  color: var(--bg-color-text);
  font-weight: var(--plz-font-weight-bold);
  border-top-right-radius: var(--plz-border-radius-low-rounded);
  border-bottom-right-radius: var(--plz-border-radius-low-rounded);
}

/* ## VARIANT IMAGE ## */

img {
  height: 23px;
  width: 23px;
}

.item-image {
  box-sizing: border-box;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  cursor: pointer;
  list-style: none;
}

.item-image-hover:hover {
  background-color: var(--plz-color-black-4);
}

.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 25px auto;
  justify-items: stretch;
  align-items: center;
  position: relative;
  width: 100%;
}

.grid-item {
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
  margin-right: 5px;
  margin-left: 5px;
}