:host {
  /* Peso fuente */
  --plz-font-weight-bold: 700;
  /* Radio borde */
  --plz-border-radius-low-rounded: 20px;
  /* Primarios-gamma-negro */
  --plz-color-black-4: #d4d4d8;

  display: block;

  --bg-color-hover: var(--plz-color-black-3);
  --bg-color-text: var(--plz-color-white);
}

/* ## GENERAL ## */

.item {
  box-sizing: border-box;
  display: block;
  line-height: 24px;
  padding: 0;
  padding-left: 28px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 0;
  width: 100%;
  cursor: pointer;
  list-style: none;
}

/* Retirados estilos del link*/
.link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

/* Dropdown menu con animación para transitar */
ul {
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
  display: none;
  transition-property: height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

/* Quitando formato al link */
a {
  color: inherit;
  text-decoration: none;
}

.dropdown {
  display: block;
}

/* ## SIMPLE VARIANT ## */

.simple:hover {
  background-color: var(--plz-color-black-4);
}

.selected {
  background-color: var(--plz-color-black-4);
  font-weight: var(--plz-font-weight-bold);
}

/* ## CUSTOM VARIANT ## */

.custom:hover {
  background-color: var(--bg-color-hover);
  color: var(--bg-color-text);
  font-weight: var(--plz-font-weight-bold);
  border-top-right-radius: var(--plz-border-radius-low-rounded);
  border-bottom-right-radius: var(--plz-border-radius-low-rounded);
}

.active {
  background-color: var(--bg-color-hover);
  color: var(--bg-color-text);
  font-weight: var(--plz-font-weight-bold);
  border-top-right-radius: var(--plz-border-radius-low-rounded);
  border-bottom-right-radius: var(--plz-border-radius-low-rounded);
}