:host {
  /* Primarios-gamma-negro */
  --plz-color-black-4: #d4d4d8;

  --color-rainbow-0: #FACFAE;
  --color-rainbow-1: #F9E8C9;
  --color-rainbow-2: #8FBCA3;
  --color-rainbow-3: #5E8D82;
  --rainbow-height: 300px;

  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*## Variante default ##*/
/* Divider. Formato y color base */
hr {
  display: block;
  margin: 0;
  border: 0;
  height: 0;
  padding: 0;
  border-bottom: 1px solid var(--plz-color-black-4);
  width: 100%;
  overflow: hidden;
}

/*## Variante custom ##*/
/* Estilo predeterminado variante custom */
.custom {
  height: 400px;
  width: 100%;
  background-position: top left;
  background-size: cover;
}