:host {
  /* Primarios-gamma-negro */
  --plz-color-black-5: #F8F9FA;
}

.showcase {
  display: block;
  background-color: var(--plz-color-black-5);
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 10px;
}