:host {
  /* Peso fuente */
  --plz-font-weight-regular: 400;

  /* Tamaño fuente */
  --plz-font-size-small: 14px;
  --plz-font-size-normal: 16px;
  --plz-font-size-sub-section: 20px;

  /* Altura de linea */
  --plz-line-height-normal: 1.8;

  /* Radio borde */
  --plz-border-radius-circle: 50%;
  --plz-border-radius-rounded: 9999px;
  --plz-border-radius-low-rounded: 20px;
  --plz-border-radius-default: 4px;
  --plz-border-radius-square: 0px;

  /*    ## COLORES ##   */

  /* Primarios-gamma-azul */
  --plz-color-blue-2: #0077B6;

  /* Primarios-gamma-verde */
  --plz-color-green-3: #4cb05b;

  /* Primarios-gamma-rojo  */
  --plz-color-red-2: #FF4D6D;

  /* Primarios-gamma-yellow */
  --plz-color-yellow-3: #fbf451;

  /* Primarios-gamma-purple */
  --plz-color-purple-3: #732487;

  /* Primarios-gamma-orange */
  --plz-color-orange-2: #e28000;

  /* Primarios-gamma-negro */
  --plz-color-black-2: #212529;

  /* Primarios-gamma-blanco */
  --plz-color-white: white;

  --wave-color: var(--plz-color-white);
  --bg-color-hover: var(--plz-color-black-4);
}

/* Quitamos estilo al link */
a {
  text-decoration: none;
  color: inherit;
}

/* Estilo único variante icon */
:host([variant=icon]) {
  display: inline-block;
  height: 50px;
  width: 50px;
}

/* Tamaño único variante icon */
:host([variant=icon][size=small]) {
  height: 40px;
  width: 40px;
}

/* Tamaño único variante icon */
:host([variant=icon][size=big]) {
  height: 60px;
  width: 60px;
}

/* Estilo único variante default */
:host([variant=default]) {
  display: inline-block;
}


/* Estilo general para los botones */
button {
  display: inline-block;
  text-align: center;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  user-select: none;
}

/* Color del hover para las variantes que lo permitan */
.hover-color:hover {
  background-color: var(--bg-color-hover);
}

/* Variante icon forma y formato */
.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--plz-color-white);
  border-radius: var(--plz-border-radius-circle);
}

/* Tamaño variante icon */
.icon .icon-default-size {
  margin: 0;
  padding: 0;
  height: 50px;
  width: 50px;
}

/* Tamaño variante icon */
.icon .icon-small-size {
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
}

/* Tamaño variante icon */
.icon .icon-big-size {
  margin: 0;
  padding: 0;
  height: 60px;
  width: 60px;
}

/* Estilo global para imagenes, forma circular. Solo se usa en la variante icon */
img {
  border-radius: var(--plz-border-radius-circle);
  cursor: pointer;
}

/* ## PROGRESS VARIANT ## */
/* Contenedor padre de la variante wave */
.playa {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

/* Subcontenedor ola */
.wave {
  margin: 2px;
  width: 4px;
  height: 16px;
  background: var(--wave-color);
  animation: wave 1.5s linear infinite;
}

/* ANIMACIONES, se determina el delay en cada ola para hacer el efecto deseado al cambiar
  de escala cada contenedor */

.wave:nth-child(1) {
  animation-delay: 0.4s;
}

.wave:nth-child(2) {
  animation-delay: 0.5s;
}

.wave:nth-child(3) {
  animation-delay: 0.6s;
}

.wave:nth-child(4) {
  animation-delay: 0.7s;
}

.wave:nth-child(5) {
  animation-delay: 0.8s;
}

/* Animación de ola de la variante wave */

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* ## SHADOW COLORS ## */
/* Se aplican las sombras de color para cada una de las posibilidades */

.shadow-blue {
  border: 1px solid var(--plz-color-blue-2);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(2, 62, 138, 1);
  -moz-box-shadow: 5px 5px 15px -5px rgba(2, 62, 138, 1);
  box-shadow: 5px 5px 15px -5px rgba(2, 62, 138, 1);
}

.shadow-red {
  border: 1px solid var(--plz-color-red-2);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(164, 19, 60, 1);
  -moz-box-shadow: 5px 5px 15px -5px rgba(164, 19, 60, 1);
  box-shadow: 5px 5px 15px -5px rgba(164, 19, 60, 1);
}

.shadow-green {
  border: 1px solid var(--plz-color-green-3);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(27, 67, 50, 1);
  -moz-box-shadow: 5px 5px 15px -5px rgba(27, 67, 50, 1);
  box-shadow: 5px 5px 15px -5px rgba(27, 67, 50, 1);
}

.shadow-purple {
  border: 1px solid var(--plz-color-purple-3);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(52, 8, 86, 1);
  -moz-box-shadow: 5px 5px 15px -5px rgba(52, 8, 86, 1);
  box-shadow: 5px 5px 15px -5px rgba(52, 8, 86, 1);
}

.shadow-orange {
  border: 1px solid var(--plz-color-orange-2);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(238, 74, 0, 1);
  -moz-box-shadow: 5px 5px 15px -5px rgba(238, 74, 0, 1);
  box-shadow: 5px 5px 15px -5px rgba(238, 74, 0, 1);
}

.shadow-yellow {
  border: 1px solid var(--plz-color-yellow-3);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(184, 137, 0, 1);
  -moz-box-shadow: 5px 5px 15px -5px rgba(184, 137, 0, 1);
  box-shadow: 5px 5px 15px -5px rgba(184, 137, 0, 1);
}

.shadow-black {
  border: 1px solid var(--plz-color-black-2);
  -webkit-box-shadow: 5px 5px 15px -5px rgba(33, 37, 41, 1);
  -moz-box-shadow: 5px 5px 15px -5px rgba(33, 37, 41, 1);
  box-shadow: 5px 5px 15px -5px rgba(33, 37, 41, 1);
}


/* ## SIZE ## */
/* Distintos tamaños prefedinidos de botones */

.default-size {
  font-size: var(--plz-font-size-normal);
  font-weight: var(--plz-font-weight-regular);
  line-height: var(--plz-line-height-normal);
}

.small-size {
  font-size: var(--plz-font-size-very-small);
  font-weight: var(--plz-font-weight-regular);
  line-height: var(--plz-line-height-normal);
}

.big-size {
  font-size: var(--plz-font-size-sub-section);
  font-weight: var(--plz-font-weight-regular);
  line-height: var(--plz-line-height-normal);
}

/* ## BORDER ## */
/* Distintas formas predefinidas del botón */

.default-border {
  border-radius: var(--plz-border-radius-default);
}

.rounded-border {
  border-radius: var(--plz-border-radius-rounded);
}

.low-rounded-border {
  border-radius: var(--plz-border-radius-low-rounded);
}

.square-border {
  border-radius: var(--plz-border-radius-square);
}

.circle-border {
  border-radius: var(--plz-border-radius-circle);
}

/* ## COLORS ## */
/* Colores predefinidos para los botones */

.blue {
  background-color: var(--plz-color-blue-2);
  color: var(--plz-color-white);
}

.red {
  background-color: var(--plz-color-red-2);
  color: var(--plz-color-white);
}

.green {
  background-color: var(--plz-color-green-3);
  color: var(--plz-color-white);
}

.purple {
  background-color: var(--plz-color-purple-3);
  color: var(--plz-color-white);
}

.orange {
  background-color: var(--plz-color-orange-2);
  color: var(--plz-color-white);
}

.yellow {
  background-color: var(--plz-color-yellow-3);
  color: var(--plz-color-black-1);
}

.black {
  background-color: var(--plz-color-black-2);
  color: var(--plz-color-white);
}