:host {
    /* Primarios-gamma-negro */
    --plz-color-black-4: #d4d4d8;
    /* Primarios-gamma-blanco */
    --plz-color-white: white;

    display: block;
}

/* ## SIMPLE VARIANT ## */

:host([variant=simple]) {
  border-top: 1px solid var(--plz-color-black-4);
}

.simple {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* ## TWO-COLUMNS VARIANT ## */

/* Contenedor padre */
.footer-columns {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color: var(--plz-color-black-4);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Contenedor dividido en dos columnas */
.footer-columns-container {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

/* Contenido del interior de las columnas */
.footer-columns-content {
  box-sizing: border-box;
  padding: 40px;
  margin: 50px;
  min-height: 200px;
  min-width: 200px;
  background-color: var(--plz-color-white);
  border-radius: 50px;
}

/* Adaptación para las distintas dimensiones de dipositivos
   Cuando se alcance una determinada dimensión, Se cambiará de columnas a filas
*/
@media only screen and (max-width: 600px) {
  .footer-columns-content {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-columns-container {
    display: block;
    margin-left: 4px;
    margin-right: 4px;
  }

  .footer-columns {
    height: fit-content;
  }
}

/* ## BLOCK VARIANT ## */

/* Contenedor padre */
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenido del contenedor */
.block-content {
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 200px;
  padding: 40px;
  background-color: var(--plz-color-white);
  border-radius: 50px;
  text-align: center;
}

/* Adaptación para las distintas dimensiones de dipositivos
  Se ajustan los espacios para tener menos huecos y más espacio para contenido
*/
@media screen and (max-width: 500px) {
  .block-content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
  }
}

@media screen and (max-width: 1140px) {
  .block-content {
    margin-left: 50px;
    margin-right: 50px;
  }
}