:host {
  display: block;
  --plz-color-black-3: #495057;
}

:host([variant=wrapper]) {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.columns {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content content";
}

.column-content {
  padding: 5%;
}

.column-content:first-child {
  border-right: 1px solid var(--plz-color-black-3);
}