:host {
  display: block;
  --plz-color-black-3: #495057;
}

.wrapper {
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.columns {
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content content";
}

.column-content {
  padding: 5%;
}

.column-content:first-child {
  border-right: 1px solid var(--plz-color-black-3);
}

@media (max-width: 756px) {
  .columns {
    grid-template-columns: 1fr;
    grid-template-areas: "content" "content";
  }

  .column-content:first-child {
    border-right: none;
    border-bottom: 1px solid var(--plz-color-black-3);
  }
}