:host {
  /* Radio borde */
  --plz-border-radius-circle: 50%;
  /* Primarios-gamma-azul */
  --plz-color-blue-1: #023E8A;
  --plz-color-blue-3: #0096C7;

  display: block;
}

/* ## Variante Normal ## */

/* Componente padre */
.spinner {
  width: 24px;
  height: 24px;
  border-radius: var(--plz-border-radius-circle);
}

/* Componente hijo
  Contiene una animación y será el contenedor que gire
*/
.spin {
  width: 24px;
  height: 24px;
  border-radius: var(--plz-border-radius-circle);
  animation: spin-girar 1.5s ease-in-out infinite;
}

/* Animación de rotación del componente hijo spin */

@keyframes spin-girar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ## Variante Simple ## */

/* Giro del contenedor donde uno de los bordes tiene uyn cambio de color, dando la sensación
  de que solo gira la parte del borde */
.simple-spinner {
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  /* text-indent: -9999em; */
  border: 8px solid var(--plz-color-blue-1);
  border-left: 8px solid var(--plz-color-blue-3);
  border-radius: var(--plz-border-radius-circle);
  animation: s-spinner 1.5s infinite linear;
}

/* Animación de rotación de la variante simple */

@keyframes s-spinner {
  100% {
    transform: rotate(360deg);
  }
}

/* ## Variante ATOM ## */

/* Contenedor padre, átomo, donde orbitarán los componentes hijo, electrones */
.atomo {
  position: relative;
  width: 40px;
  height: 40px;
}

/* Electrones que orbitan al átomo */
.atomo .electron {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: var(--plz-border-radius-circle);
}

.atomo .electron:nth-child(1) {
  animation: rotar-hijo-1 2.3s linear infinite;
  animation-delay: -1.6s;
}

.atomo .electron:nth-child(2) {
  animation: rotar-hijo-2 2.3s linear infinite;
  animation-delay: -0.8s;
}

.atomo .electron:nth-child(3) {
  animation: rotar-hijo-3 2.3s linear infinite;
  animation-delay: 0s;
}

/* ANIMACIONES DE ROTACIÓN 3D (Orbitas) de los electrones */

@keyframes rotar-hijo-1 {
  from {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(0);
  }

  to {
    transform: rotateX(40deg) rotateY(-40deg) rotateZ(1turn);
  }
}

@keyframes rotar-hijo-2 {
  from {
    transform: rotateX(55deg) rotateY(5deg) rotateZ(0);
  }

  to {
    transform: rotateX(55deg) rotateY(5deg) rotateZ(1turn);
  }
}

@keyframes rotar-hijo-3 {
  from {
    transform: rotateX(40deg) rotateY(50deg) rotateZ(0);
  }

  to {
    transform: rotateX(40deg) rotateY(50deg) rotateZ(1turn);
  }
}


/* ## Varainte WAVE ## */

/* Contenedor padre de la variante wave */
.playa {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

/* Subcontenedor ola */
.wave {
  margin: 2px;
  width: 6px;
  height: 40px;
  animation: wave 1.5s linear infinite;
}

/* ANIMACIONES, se determina el delay en cada ola para hacer el efecto deseado al cambiar
  de escala cada contenedor */

.wave:nth-child(1) {
  animation-delay: 0.4s;
}

.wave:nth-child(2) {
  animation-delay: 0.5s;
}

.wave:nth-child(3) {
  animation-delay: 0.6s;
}

.wave:nth-child(4) {
  animation-delay: 0.7s;
}

.wave:nth-child(5) {
  animation-delay: 0.8s;
}

/* Animación de ola de la variante wave */

@keyframes wave {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* ## Variante Bolas ## */

/* Contenedor padre */
.bolas {
  position: relative;
  height: 32px;
  width: 32px;
}

/* Contenedores hijo (bola individual) */
.bolas>.bola {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: var(--plz-border-radius-circle);
}

/* Tamaño visible de la bola */
.bolas>.bola:after {
  position: absolute;
  content: '';
  height: 6px;
  width: 6px;
  border-radius: var(--plz-border-radius-circle);
}

/* MOVIMIENTO ANIMADO DE CADA UNA DE LAS BOLAS CON SU COLOR DETERMINADO */

.bolas>.bola:nth-child(1) {
  animation: bola-gira 3.7s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(1):after {
  transform: translateY(-50%);
  background-color: var(--color-bola-0);
}

.bolas>.bola:nth-child(2) {
  animation: bola-gira 2s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(2):after {
  transform: translateX(-50%);
  background-color: var(--color-bola-1);
}

.bolas>.bola:nth-child(3) {
  animation: bola-gira 3s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(3):after {
  transform: translateY(-50%);
  background-color: var(--color-bola-2);
}

.bolas>.bola:nth-child(4) {
  animation: bola-gira 4s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(4):after {
  transform: translateX(-50%);
  background-color: var(--color-bola-3);
}

.bolas>.bola:nth-child(5) {
  animation: bola-gira 1.2s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(5):after {
  transform: translateY(-50%);
  background-color: var(--color-bola-4);
}

.bolas>.bola:nth-child(6) {
  animation: bola-gira 2.4s cubic-bezier(.17, .67, .83, .67) infinite;
}

.bolas>.bola:nth-child(6):after {
  transform: translateX(-50%);
  background-color: var(--color-bola-5);
}

/* Animación de rotación de las bolas */

@keyframes bola-gira {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(1080deg);
  }
}