:host {
  /* Primarios-gamma-blanco */
  --plz-color-white: white;
  --bg-color: var(--plz-color-white);
  display: block;
}

/* Contenedor del sidebar, scroll automático en vertical y transiciones de toggle */
.sidebar {
  box-sizing: border-box;
  z-index: 1;
  height: 100%;
  position: fixed;
  background-color: var(--bg-color);
  overflow-x: hidden;
  overflow-y: auto;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  border-right: 1px solid #d4d4d8;
  padding-top: 40px;
  padding-bottom: 120px;
}

/* Ajuste de tamaño de imagenes en caso de no venir definido su tamaño
   Ajuste de forma y margen para seguir los patrones de diseño del sidebar
*/
.sidebar img {
  width: 225px;
  border-radius: 20px;
  margin-left: 28px;
}

/* Botón toggle con posición fija en la parte superior izquierda */
.button-sidebar {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  border: none;
  padding: 6px 6px;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
}