:host {
  /* Primarios-gamma-negro */
  --plz-color-black-4: #d4d4d8;
  --plz-color-black-5: #F8F9FA;
  /* Primarios-gamma-blanco */
  --plz-color-white: white;

  box-sizing: border-box;
  display: block;
  /* Borde aplicado al contenedor padre con forma en esquinas superiores */
  border: 1px solid var(--plz-color-black-4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* Contenedor con funcionalidad de resize del contenido*/
div {
  background-color: var(--plz-color-white);
  box-sizing: border-box;
  border-right: 2px solid var(--plz-color-black-4);
  padding: 10px;
  width: 100%;
  min-width: 33%;
  max-width: 100%;
  resize: horizontal;
  overflow: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* ## DISPLAYS ## */

.inline-flex {
  display: inline-flex;
}

.block {
  display: block;
}